body {
  background-color: #e8ead3ff9c71;
  font: baloo bhai;
  color: black;
  font-family: 'Lora', sans-serif

}
  myprofile {
      font-family: 'Baloo Bhai 2' cursive;
  }




table {
  align-content: center;
}
p {
  color: black;
}

hr {
  background-color: none;
  border-style: dotted none none;
  border-width: 10px;
  border-color: #342b38;
  width: 25%;

}
a:hover {
  background-color: gold;
}
