body {
  background-color: #whitesmoke;
  color: #07031a;
  font-family: 'Merriweather', sans-serif;
  font-size: 1.2rem;

}

.jenny {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin-right: 100px;


  }

.info{
  vertical-align: top;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

table {
  align-content: center;
}

p {
  color: black;
}

a:hover {
  background-color: gold;
}


body {
  margin:30px 30px 30px 30px;
}
